@(immoform: Form[Immobilie], immo: models.Immobilie)

@main("Immobilie bearbeiten: ") {

    <h1>@immo.getName() bearbeiten</h1>



    @helper.form(action = routes.ImmobilienController.editSubmit(immo.getId()), 'enctype -> "multipart/form-data") {


        @helper.inputText(immoform("name"))

        @helper.inputText(immoform("kaufPreis"))

        @helper.inputText(immoform("kaufDatum"))

        @helper.inputText(immoform("typ"))

        <input type="file" name="picture"/>

        <input type="submit"/>


    }
}