@(immobilieList: java.util.List[models.Immobilie])

@main("Welcome to Play ö") {

    <h1>Eigene Immobilien</h1>

    <!--<a href="@routes.Test.index()">test2</a>-->
    @for(immobilie <- immobilieList) {
        <h2> @immobilie.getName() </h2>
        <div class="media">
            <img class="media-object" src="@routes.Assets.versioned("images/immobilien/"+immobilie.getImagePath())"> </img>
        </div>
    }

    <h2 id="Mieter">Mieter</h2>
    <input type="text" name="Anzahl der Mieter">
    <input type="text" name="Höhe der Mieterträge">

    <h2 id="Abschreibungen">Abschreibungen</h2>


}
