@(mieterCount: java.lang.Integer, mietSum: java.lang.Integer, investitionsCount: java.lang.Integer, investitionsSum: java.lang.Integer)

@main("Dashboard") {
    <div class="panel panel-default">
        <div class="panel-heading"><h2>Dashboard</h2></div>

        <div class="panel-body">
            @if(mieterCount > 0) {
                <div class="alert alert-success"><strong>Alle Mieten pünktlich</strong>
                    @mieterCount Mieter: @(mietSum)€ monatliche Einnahmen</div>
            }

            @if(investitionsCount > 0) {
                <div class="alert alert-warning"><strong>@investitionsCount Investitionen im nächsten Monat</strong>
                    insgesammt @(investitionsSum)€</div>
            }
        </div>
    </div>
}
