@main("Über uns") {

    <div class="jumbotron">
<h1>Immo Tracker</h1>

    <p><b>Immo-Investoren:</b> Chancen und Risiken Ihrer Invests im Blick:</p>
<p>
    <li>Automatische Bewertung aller Immo-Invests durch diverse Datenbanke, Ereignisse etc.(Verkäufe in der Region, Immoscout-Preise, Presse...)</li>
    <li> Mietzahlungen automatisch überwachen</li>
    <li>Investitionen Planen</li>
    <li>Kreditlaufzeiten planen und günstige Ablöse-Kredite nicht verpassen.</li>
      </p>


<p>.</p>


        <p><b>Finanzdienstleister/Banken:</b> Mehrwert, Kundenbindung und neue Vertriebskanäle</p>
        <p>

        <li>Eine smarte Riskikoüberwachung kann bei einem Immo-Invest eine Entscheidungsunterstützung sein</li>
        <li>Automatisch passende Kredite oder Immobilien anbieten</li>
        <li>Sie lernen Ihre Kunden besser kennen.</li>
    </p>
       <div>

    <small>Immobilienbewertung via http://www.vdpresearch.de/vdp-immobilienpreisindizes/ (c) vdp</small>
}





